
body{
    background-color: #000031;
    font-family: Outfit;
    color: #FFFFFF;
}

.div1{
    text-align: center;
    background-image: url(/Assets/titulo1.png); 
    background-position: center; size: cover;
    align-content: center;
    height: 100%;
    width: 100%;
}

#nosotros{
    font-size: 350%;
    position: center;
}

.iconodental{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.div2{
    background-image: url(/Assets/doctoresDentalNos.png);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.clinica{
    color: #FFFFFF;
    text-align-last: center;
}

.col-4{
    border:1px solid #FFFFFF;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 2%;
}

.iconos{
    width: 50px;
    height: 50px;
    margin-bottom: 3%;
}

.titulos{
    color: #FFFFFF;
    text-align-last: center;

}

.textocaja{
    text-align-last: center;
}

.div-valores{
    margin-top: 5%;
}

.iconos2{
    width: 50px;
    height: 50px;
    margin-bottom: 1%;
}

.col{
    border:1px solid #FFFFFF;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.valor2{
    border:1px solid #FFFFFF;
    margin: 1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;   
}

.iconos3{
    width: 50px;
    height: 50px;
    
}