
/* Cambia el fondo del cuerpo */
body {
   background-color: #000031 !important;
   color: #ffffff;
   font-family: "Outfit", sans-serif !important;}

/* Estilo del encabezado y barra de búsqueda */
nav {
   justify-content: center !important;
}
.navbar {
   font-family: "Kanit", sans-serif !important;
   background-color: #377a98 !important;
   justify-content: center;
}

.navbar p {
   color:#ffffff;
   font-size: 18px;
   display: flex !important;
}


input[type="search"] {
   width: 80%;
   background-color: #ffffff;
   padding: 10px;
}


/* Contenedor principal */
.container-fluid mt-4{
   background-color: #000031;
   padding: 20px;
}

.row{
   background-color: #000031;
}
/* Columna de botones */
.col-md-3 {
   font-family: "Kanit", sans-serif;
}

.btn-check:checked + .btn, .btn-check:active + .btn {
   font-family: "Kanit", sans-serif;
   background-color: #80c4db;
   border-color: #80c4db;
}


.btn {
   font-family: "Kanit", sans-serif;
   color: #ffffff;
   background-color: #4280b3;
   border: none;
   border-radius: 5px;
   margin-bottom: 10px;
   padding: 10px;
   text-align: center;
}

 .btn-container {
   display: flex;
   justify-content: flex-start; /* O 'center' si quieres centrarlos */
  gap: 10px; /* Espacio entre los botones */
  flex-wrap: wrap; /* Evita que se desborden */
  padding: 10px;
  max-width: 100%; /* Asegura que no se desborde */
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
}



/* Tarjetas de productos */
.card {
   background-color: #000031;
   border: 2px;
   border-color: #ffffff !important; 
   border-radius: 10% !important;
   padding: 15px;
   margin: auto;
   text-align: center;
}

.btn-outline-primary {
   justify-content: left;
   display: flex;
}


.custom-card-bg {
   background-color: #000031 !important;
}

.card img {
  
  display: flex;
 align-content: center;
}

.card-title {
   font-size: 16px;
   color: #ffffff !important;
   justify-content: center;
}

.card-text {
   font-size: 14px;
   color: #ffffff;
   justify-content: center;
}

.card-price {
   font-size: 16px;
   color: #ffffff;
}
.d-flex justify-content-end{
   width: 100%;
   padding: 10px;
}

#new-item-form {
   color:#ffffff;
   margin: auto;   
   border-color:#ffffff;
   border-style: double !important;
   padding:20px;
   max-width:600px;
   box-sizing: border-box;
   width: 100%;
}
/* Estilo del pie de página */
footer {
   background-color: #6bc1c7;
   color: #ffffff;
   text-align: center;
   padding: 10px;
   margin-top: 20px;
}

footer a {
   color: #ffffff;
   text-decoration: none;
   margin: 0 5px;
}
