body {
    font-family: Arial, sans-serif;
    background-color: #000031;
    color: #f0f0f0;
  }
  
 
  #title1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(Header1.png);
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    color: #ffffff; 
    margin-bottom: 30px;
    padding: 20px 0; 
    width: 100%;
  }
  
  
  #title2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(sobreNosotros.jpg);
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; 
    color: #ffffff; 
    margin-bottom: 30px; /* Añade un margen inferior para separación */
    padding: 20px 0;
    width: 100%;
}
.card{
    background-color: #B6D1C6;

}
  
  /*Estilo para el título de la tarjeta */
  .card-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #000031;
    text-align: center;
  }
  
  /* Estilo para el subtítulo de la tarjeta */
  .card-subtitle {
    font-weight: bold;
    font-size: 1.25rem;
    color:#000031;
    text-align: center;
  }

 .card-text{
    color: #000031;
    text-align: justify;

  }
  
  /* Centrar el icono de las tarjetas */
  .icon-img {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Estilo para subtitulo  carrusel */
  .carousel-caption {
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
  }
  
  /* Estilo para las imágenes del carrusel */
  .carousel-item img {
    max-height: 400px; /* Limita la altura máxima de las imágenes */
    object-fit: cover;
    width:auto;
    border-radius: 10px;
  }
  
  /* Contenedor del carrusel */
  .container {
    margin-top: 50px;
    margin: 0 auto;
    max-width: 1100;
  }
